<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header>
    <h2>Truyen</h2>
    <form id >
        <input type="text">
        <input type="submit" value="find">
    </form>
</header>

<div id="nas">
    <a href="">Trang chu</a>
    <a href="">Kiem hiep</a>
    <a href="">Tien hiep</a>
</div>

<section>
    <nav>
        <ul>
            <li><a href="#" >Ngon tinh</a></li>
            <li><a href="#">Truyen teen</a></li>
            <li><a href="#">Kiem hiep</a></li>
            <li><a href="#">Tien hiep</a></li>
            <li><a href="dropcz.html">Trinh tham</a></li>
            <li><a href="#">Phieu Luu</a></li>
            <li><a href="#" >Ngon tinh</a></li>
            <li><a href="#" >Ngon tinh</a></li>
            <li><a href="#" >Xuyen Khong</a></li>
            <li><a href="#" >Quan su</a></li>
            <li><a href="#" >Vu tru</a></li>
            <li><a href="#" >Khoa hoc</a></li>
            <li><a href="#" >Lich su</a></li>
            <li><a href="#" >Sac hiep</a></li>
        </ul>
    </nav>
<article>
<div>
    <img src="https://nxbkimdong.com.vn/sites/default/files/80_3.jpg" width="100" height="150">
    <p>truyen conan</p>
</div>
</article>
</section>
</body>
</html>